<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sights of city {{city_id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let sight of sights" text-wrap>
      <ion-icon name="compass-outline" slot="start"></ion-icon>
      <ion-label text-wrap>{{sight.name}}</ion-label>
      <ion-note slot="end"
        >year of foundation: {{sight.foundationYear}}</ion-note
      >
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label position="floating">Data to be sent to homepage</ion-label>
    <ion-input type="text" [(ngModel)]="textData"></ion-input>
  </ion-item>
  <ion-button color="primary" class="ion-float-right" (click)="passData()">
    <ion-icon slot="start" name="sync"></ion-icon> Send to home
  </ion-button>
</ion-content>
