<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Cities </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-label>Cities</ion-label>
      <ion-button shape="round" fill="outline" color="success" (click)="add()">
        <ion-icon slot="start" name="add"></ion-icon>
        Add
      </ion-button>
    </ion-list-header>

    <app-city
      *ngIf="showNew"
      [isNew]="true"
      (addCity)="addCity($event)"
      (cancelAddingCity)="showNew=false"
    ></app-city>

    <div *ngFor="let city of cities; let i = index">
      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="primary" (click)="showEdit=i">
            <ion-icon name="create"></ion-icon>
            Change
          </ion-item-option>
          <ion-item-option color="danger" (click)="delete(i)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </ion-item-option>
        </ion-item-options>
        <ion-item (click)="showEdit=-1">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>{{city.cityName}}</ion-label>
          <ion-note slot="end">{{city.country}}</ion-note>
        </ion-item>
      </ion-item-sliding>
      <app-city *ngIf="showEdit==i" [isNew]="false" [city]="city"></app-city>
    </div>
  </ion-list>
</ion-content>
